@import "/components/color-item/color-item.scss";

.colors-types {
 @include flex(row, space-between, center);
 padding-top: 67px;
 padding-left: 121px;
}
.container-uikit{
  margin: 0 auto;
  width: 100vw;
  max-width: 1440px;
  overflow: hidden;
  height: 100%;
 //  overflow: auto; // только для флоат элементов т.к. они выпадают из контейнеров
 @media(max-width: 1270px) {
   width: 90vw;
 }

 @media(max-width: 580px) {
   width: 98vw;
 }
}

.header-uikit__logo {
 margin-top: 30px;
}


