.nav-link__li {
  user-select: none;
  @media(max-width: 920px) {
    text-align: left;
  }
}
.nav-link__link{
  display: block;
  padding:10px 0 10px 0;
  @include bodyFont;
  font-size: .875rem;
  line-height: 17px;
  opacity: 0.5;
  cursor: pointer;

  &:visited {
    color: $primary-color;
  }
  @media(max-width: 1200px) {
    font-size: 13px;
  }
  @media(max-width: 920px){
    font-size: 16px;
    line-height: 25px;
  }
}