block nav-link
  mixin linkText(isClass, element)
      li(class= "nav-link__li" + ' ' + isClass)
        a.nav-link__link(href = element.href target = element.target  rel = "noopener noreferrer") #{element.text}

