@import "/components/blocks/forms/form-blank/form-blank.scss";
@import "/components/blocks/forms/forms-elements/dropdowns/dropdown/dropdown.scss";

.section-search {
  // height: calc(100vh - 512px);
  height: 830px;
  background-image: url("/assets/images/main-bg-1.jpg");
  background-size: cover;
  overflow: hidden;
}
.container{
  @include container;
}

.section-search-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.section-search__form-wrap {
  margin: 70px 0 0 0;
  @include flex(row,space-between,flex-start);
  max-height: 830px;
  overflow: hidden; //решает схлопывание марджинов

  @media (max-width: 1199.98px) {
    margin:5% 0 0 10%;
  }
  @media (max-width: 800px) {
    margin:2%;
    @include flex(column,center,center);
  }
}

.section-search__tagline {
  @include bodyFont;
  text-align: right;
  margin-bottom: 18px;

  @media (max-width: 1199.98px){
    margin-right: 10%;
  }
  @media (max-width: 800px) {
    margin-right: 0;
    text-align: center;
  }
}



