block text-field
mixin text-field(for, classLabel, id, class, name, placeholder, type )
.text-field__wrap
    label.text-field__label(for = for classLabel = class)
    input.text-field(id = id class = class name = name placeholder = placeholder type = type)
