block base-layout
include /layouts/base-layout/base-layout.pug
  block header
  include /components/header/header.pug
  main.main
    block content
  block footer
  include /components/footer/footer.pug
