@import "/components/blocks/footer/footer-item/footer-item.scss";
@import "/components/blocks/footer/footer-title/footer-title.scss";
@import "/components/blocks/footer/footer-links/footer-links.scss";
@import "/components/blocks/footer/footer-copyright/footer-copyright.scss";
@import "/components/blocks/footer/footer-subs/footer-subs.scss";
@import "/components/blocks/footer/footer-desc/footer-desc.scss";

.footer-main {
  @include flex(row, space-between, flex-start);
  height: 372px;
  width: 100%;
  padding-top: 100px;
}
.footer-main__info {
  margin-right: 30px;
}


