.button {
    height: 34px;
    background: $main-grad;
    border-radius: 22px;
    cursor: pointer;
    outline: none;
    @include h3Style;
    color: #fff;

    &:active {
        opacity: .5;
    }
}

.button-inverse {
    height: 34px;
    width: 87px;
    background: #fff;
    border-radius: 22px;
    box-shadow: inset 2px 1000px 1px #fff;
    border: 2px solid transparent;
    background:linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0)),linear-gradient(180deg,#bc9cff,#8ba4f9);
    background-clip:content-box,border-box;
    background-origin: border-box;
    outline: none;
    @include h3Style;
    color: $second-color;

    &:active {
        opacity: .5;
    }    
}

