block footer-c-info
   mixin footerCInfo(footerInfo)
      .footer-copyright__wrap-content
         .footer-copyright__info #{footerInfo}
         .footer-copyright__social
            ul.footer-copyright__social-wrap
               li.footer-copyright__li
                  a.footer-copyright__link(href="#")
                     i.fa.fa-twitter( aria-hidden="true")
               li.footer-copyright__li
                  a.footer-copyright__link(href="#")
                     i.fa.fa-facebook( aria-hidden="true")
               li.footer-copyright__li
                  a.footer-copyright__link(href="#")
                     i.fa.fa-instagram( aria-hidden="true")

