.footer-copyright {
  height: 70px;
  @include flex(row, center, center);
  border-top: 1px solid rgba(31,32,65,.1);
}
.footer-copyright__wrap-content {
  width: 1160px;
  @include flex(row, space-between,center);

  @media(max-width: 1216px) {
    width: 93vw;
  }
  @media(max-width: 574px) {
    @include flex(column,center,center);
    height: 93px;
  }
}
.footer-copyright__info {
  @include bodyFont;
  line-height: 17px;  
  @media(max-width: 1200px) {
    font-size: 12px;
  }
  @media(max-width: 574px) {
   margin-bottom: 10px;
   text-align: center;
  }
}

.footer-copyright__social-wrap {
  @include flex(row,space-between,center);
  width: 112px;
}

.fa{
  display: block;
  font-family: Font_Awesome;
  background:$main-grad;
  background-clip: text;
  color: transparent;
}
.fa-twitter:before {
  content:'\f099';  
  font-size: 24px;
  line-height: 23px;
  display: initial;
  text-rendering: auto;
}
.fa-facebook:before {
  content: '\f230';
  font-size: 24px;
  line-height: 23px;
  display: initial;
  text-rendering: auto;
}
.fa-instagram:before {
  content: '\f16d';
  font-size: 24px;
  line-height: 23px;
  display: initial;
  text-rendering: auto;
}





