// Quicksand

@font-face {
  font-family: 'Quicksand';
  src: url('../src/assets/fonts/Quicksand/Quicksand-bold/Quicksand-Bold.eot');
  src: url('../src/assets/fonts/Quicksand/Quicksand-bold/Quicksand-Bold.woff') format('woff'),
       url('../src/assets/fonts/Quicksand/Quicksand-bold/Quicksand-Bold.ttf') format('truetype'),
       url('../src/assets/fonts/Quicksand/Quicksand-bold/Quicksand-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('../src/assets/fonts/Quicksand/Quicksand-regular/Quicksand-Regular.eot');  
  src: url('../src/assets/fonts/Quicksand/Quicksand-regular/Quicksand-Regular.woff') format('woff'),
       url('../src/assets/fonts/Quicksand/Quicksand-regular/Quicksand-Regular.ttf') format('truetype'),
       url('../src/assets/fonts/Quicksand/Quicksand-regular/Quicksand-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

//Montserrat

@font-face {
	font-family: 'Montserrat';
	src: url('../src/assets/fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.eot');
  src: url('../src/assets/fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
       url('../src/assets/fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'),
       url('../src/assets/fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../src/assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.eot');
  src: url('../src/assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
       url('../src/assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'),
       url('../src/assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Material Icons

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/Material-Icons/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('../src/assets/fonts/Material-Icons/MaterialIcons-Regular.woff2') format('woff2'),
       url('../src/assets/fonts/Material-Icons/MaterialIcons-Regular.woff') format('woff'),
       url('../src/assets/fonts/Material-Icons/MaterialIcons-Regular.ttf') format('truetype');
}


//Font Awesome 5 and brands
@font-face {
  font-family: 'Font_Awesome';
  font-style: normal;
    src:url('../src/assets/fonts/Font_Awesome/fontawesome-webfont.eot');
    src:url('../src/assets/fonts/Font_Awesome/fontawesome-webfont.woff2') format('woff2'),
        url('../src/assets/fonts/Font_Awesome/fontawesome-webfont.woff') format('woff'),
        url('../src/assets/fonts/Font_Awesome/fontawesome-webfont.ttf') format('truetype'),
        url('../src/assets/fonts/Font_Awesome/fontawesome-webfont.svg') format('svg');
}


/* open-sans-300 - latin_cyrillic */
@font-face {
  font-family: 'OpenSans';
  src: url('../src/assets/fonts/Open-Sans/OpenSansLight/OpenSansLight.eot'); /* IE9 Compat Modes */
  src: url('../src/assets/fonts/Open-Sans/OpenSansLight/OpenSansLight.woff') format('woff'), /* Modern Browsers */
       url('../src/assets/fonts/Open-Sans/OpenSansLight/OpenSansLight.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: 300;
}

// /* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'OpenSans';
  src: url('../src/assets/fonts/Open-Sans/OpenSansRegular/OpenSansRegular.eot'); /* IE9 Compat Modes */
  src: url('../src/assets/fonts/Open-Sans/OpenSansRegular/OpenSansRegular.woff') format('woff'), /* Modern Browsers */
       url('../src/assets/fonts/Open-Sans/OpenSansRegular/OpenSansRegular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: 400;
}

/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'OpenSans';
  src: url('../src/assets/fonts/Open-Sans/OpenSansSemiBold/OpenSansSemiBold.eot'); /* IE9 Compat Modes */
  src: url('../src/assets/fonts/Open-Sans/OpenSansSemiBold/OpenSansSemiBold.woff') format('woff'), /* Modern Browsers */
       url('../src/assets/fonts/Open-Sans/OpenSansSemiBold/OpenSansSemiBold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: 600;
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'OpenSans';
  src: url('../src/assets/fonts/Open-Sans/OpenSansBold/OpenSansBold.eot'); /* IE9 Compat Modes */
  src: url('../src/assets/fonts/Open-Sans/OpenSansBold/OpenSansBold.woff') format('woff'), /* Modern Browsers */
       url('../src/assets/fonts/Open-Sans/OpenSansBold/OpenSansBold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: 700;
}







