//Colors:
$primary-color: #1f2041;
$second-color: #bc9cff;
$third-color: #6fcf97;

$main-grad: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$second-grad: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

$mainFont: 'Montserrat', Helvetica, Arial, sans-serif;
$secondFont: 'Quicksand', Helvetica, Arial, sans-serif;
$ruFont: 'OpenSans', Helvetica, Arial, sans-serif;
$iconsFont: 'Material Icons';
$socialFont: 'Font_Awesome';

$mainFontSz: 14px;
$mainLineHeight: 24px;
$mainFontWeight: normal;

$main-border-rad: 4px;
$main-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);









