@import "src/components/blocks/header/header.scss";
@import "src/components/blocks/footer/footer.scss";
@import "src/components/pages/landing/landing.scss";

.header {
  height: 70px;
  background-color: #fff;
}
.footer {
  height: 442px;
  background-color: #fff;
}

