@import "src/components/nav-link/nav-link.scss";
@import "src/components/button/button.scss";


.button-singup {
  width: 196px;
  @media(max-width: 1024px) {
    height: 30px;
    width: 160px;
    font-size: 0.6rem;
  }
}

.button-singin {
  @media(max-width: 1024px) {
    height: 30px;
    width: 80px;
    font-size: 0.6rem;
  }
}
body.lock{
  @media(max-width: 920px){
    overflow: hidden;
  }
}
.header {
  background: #FFFFFF;
  height: 70px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.header__wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1160px;
  overflow: hidden;
  height: 100%;
  @include flex(row, space-between, center);
}  

.header-logo__wrap {
  @media(max-width:920px){
    @include flex(row, space-between,center);
    width: 100%;
    z-index: 10;
    padding: 0 15px 0 15px;
  }
}
.header-nav__wrap{
  @include flex(row,center,center);
  margin: 0 20px 0 auto;
  &.mobile{
    top: 0;
    align-items: center;
  }
  @media(max-width: 920px) {
    margin: 0;
    position: fixed;
    top:-100%;
    left:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    z-index: 5;
    padding-left:15px;
    padding-right: 15px;
    transition: all 0.3s ease 0.1s; 
    @include flex(column, space-around, flex-start);
   }
}


.nav__ul {
  @include flex(row,flex-start,center);
  .nav-link__li {
    margin-right: 20px;
    @media(max-width: 920px){
      width: inherit;
      margin: 0;
    }
  }
  @media(max-width: 920px){
    @include flex(column, center,flex-start);
  }
}

.nav-link__li:last-child {
  margin-right: 0;
  @media(max-width: 920px){
   font-size: 18px;
  }
}

.nav-link__link--mobile{
  font-size: 25px;
  text-align: center;
}

.arrow-down {
  @include flex(row,space-between,center);
    
  &:after{
    content:url('/assets/images/arrow-down.svg');
    width: 24px;
    padding-left: 5px;
  }
  @media(max-width: 920px){
    justify-content: center;
  }
}
.header-user__wrap {
  @include flex(row, space-between,center); 
  @media(max-width:920px){
    display: none;
  }
}

.header-user__singin {
  margin-right: 20px;
}



.header-burger {
  display: none;
  @media(max-width:920px) {
    display: block;
    position: relative;
    width: 40px;
    height: 30px;
    cursor: pointer;
    z-index:10;

    &:before,
    &:after {
      content:'';
    position: absolute;
    background-color: $primary-color;
    opacity: .50;
    border-radius: 4px;
    height: 10%;
    width: 100%;
    left:0;
    transition: all 0.3s ease;
    z-index: 5;
    }
    &:before {
      top:0;
    }
    &:after {
      bottom: 0;
    }
    &.mobile:before {
      transform: rotate(45deg);
      top:13px;
    }
    &.mobile:after {
      transform: rotate(-45deg);
      bottom: 13px;
    }
  }
  &__lines {
  position: absolute;
  background-color:$primary-color;
  opacity: .50;
  border-radius: 4px;
  top:14px;
  left:0;
  height: 10%;
  width: 100%;
  transition: all 0.3s ease;

  &.mobile {
    transform: scale(0);
  }
  }
}